@import "./styles/styles.scss";

.container {
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust opacity (last value) as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: normal;
}

.registerButton {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 12px 24px;
  background-color: $accent-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

// .registerButton:hover {
//   background-color: lightgray;
// }

.footer {
  text-align: center;
  margin-top: 40px;
  color: #666;
  font-size: 14px;
}

// .testPhoto {
//   height: 300px;
//   width: 100%;
//   object-fit: cover;
// }

/* About.styling */
.about {
  // min-height: 100vh;
  color: $accent-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about div {
  height: 40%;
}
.about .testPhoto {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.about h2 {
  font-size: 25px;
}
.about p {
  font-size: 15px;
}

/* Activities.styling */
.activities {
  min-height: 100vh;
  color: $accent-color;
}
.activities h3 {
  font-size: 20px;
}
.activities p {
  font-size: 15px;
}
.activities ul {
  list-style: none;
  padding-left: 0;
}
.activities li {
  margin-top: 40px;
  margin-bottom: 40px;
}
.activities .testPhoto {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.main {
  margin: 20px;
}

/* Header*/

.header {
  position: absolute;
  // top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  //padding: 1rem;
  // background: transparent; /* Ensuring the header is clear */
  z-index: 10; /* Making sure the header is above the background image */
}
.logo,
.hamburger {
  margin: 5px;
}
.logo {
  font-size: 1.5rem;
  color: white;
}

.hamburger {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Expectations.module.css */
.expectations {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .expectationItem {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 5px;

    h5 {
      font-size: 20px;
      font-weight: normal;
      margin: 0;
    }

    p {
      margin: 0;
      font-weight: lighter;
      font-size: 10px;
      text-align: left;
    }
  }
  // .activity {
  //   color: white;
  //   font-size: 20px;
  //   font-weight: normal;
  //   margin: 5px;
  // }
}
